@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root{
	--font-color:#000;
	--font-color-alt:#fff;
	--background-color:#fff;
	--background-color-alt: #91D6E6;
	--background-variant:rgba(0, 102, 204, 0.2);
	--border-color:#0066cc; 
	--border-color-alt:#1A0D65;
	--border-variant:rgba(0,0,0,0.5);
}

[data-theme="dark"]{
	--font-color:#fff;
	--font-color-alt:#000;
	--background-color:#000;
	--background-color-alt: #3399ff;
	--background-variant:rgba(0, 204, 204, 0.2);
	--border-color:#00cccc; /*#ff9933*/
	--border-color-alt:#1A0D65;
	--border-variant:rgba(255,255,255,0.5);
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	outline:none;
}

html{
	width:100%;
	height:100%;
}

body{
	width:100%;
	height:100%;
	color:var(--font-color);
	background-color:#D9DFE4;
	margin:auto;
}


/*Head Section*/
header{
	position:relative;
	width:100%;
	height:100vh;
	min-width:320px;
	min-height:500px; 
	margin:auto;
	/*background: black url('../images/ps9.jpg') 80% 80%/cover no-repeat fixed;*/
}

.header_img{
	position:fixed;
	left:0;
	width:100vw;
	min-width:320px;
	height:100vh;
	z-index:-5;
	background: black url('../images/ps9.jpg') 80% 80%/cover no-repeat;
}

.nav_bar{
	position:fixed;
	top:0;
	width:100%;
	min-height:50px;
	z-index:50;
}

.nav_list,
.nav_onscroll{
	display:flex;
	justify-content:flex-end;
	list-style-type:none;	
	min-width:320px;
}

.nav_list{
	color:#fff;
}

.nav_onscroll{
	background-color:var(--background-color);
	border-bottom:5px solid var(--border-color); /*#6C70E7*/
	color:var(--font-color);
	z-index:-1;
}

.nav_list a,
.nav_onscroll a{
	font-family:roboto, sans-serif;
	font-weight:700;
	width:150px;	
	padding:15px;	
	text-align:center;
	cursor:pointer;
	border:2px solid transparent;
	text-decoration:none;
}

.nav_list a{
	color:#fff;
	margin:20px 20px 20px 0;
}

.nav_onscroll a{
	color:var(--font-color);
	margin:5px 20px 5px 0;
}

.nav_list a:hover{
	border:2px solid orange;
}

.nav_onscroll a:hover{
	background-color:var(--background-color-alt); /*#91D6E6*/
}

.nav_list .active{
	border:2px solid orange;
}

.nav_onscroll .active{
	border:2px solid var(--border-color);
}

.nav_image{
	align-self:flex-start;
	margin:5px auto 5px 5px;
}

.nav_list > li{
	display:none;
	/*z-index:1;*/
}

.nav_onscroll > .nav_image{
	display:block;

}

.menu_icon{
	display:none;
	position:relative;
	width:50px;
	height:50px;
	z-index:2;
	margin:auto 20px auto 0;
	cursor:pointer;
}

.menu_icon_bar,
.menu_icon_bar_change{
	position:absolute;
	width:80%;
	height:5px;
	top:50%;
	left:50%;
	transition:all 0.5s;
}

.nav_list .menu_icon_bar,
.nav_list .menu_icon_bar_change{
	background-color:#fff;
}

.nav_onscroll .menu_icon_bar,
.nav_onscroll .menu_icon_bar_change{
	background-color:var(--font-color);
}

.menu_icon_bar{
	transform:translate(-50%,-50%);
}

.menu_icon_bar_change{
	transform:translate(-50%,-50%) rotateZ(45deg);
}

/*Mobile Nav*/
.menu_icon_bar:before,
.menu_icon_bar:after,
.menu_icon_bar_change:before{
	content:"";
	width:100%;
	height:inherit;
	background-color:inherit;
	position:absolute;
	
}

.menu_icon_bar:before{
	top:-200%;
}

.menu_icon_bar:after{
	top:200%;
}

.menu_icon_bar_change:before{
	transform:rotateZ(-90deg);
}

.mobile_nav_overlay{
	position:fixed;
	display:none;
	width:0;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	z-index:20;
	overflow-x:hidden;
	transition:all 0.5s;
	overflow:hidden
}

.mobile_nav{
	width:100%;
	height:100%;
	overflow:auto;
	background-color:#000;
	display:flex;
	flex-direction:column;
	padding-top:100px;
}

.mobile_nav a{
	width:100%;
	color:#fff;
	font-size:1.5em;
	text-align:center;
	padding:40px 0 40px 0;
	text-decoration:none;
}

.mobile_nav a:hover,
.mobile_nav .active{
	background-color:#555;
}

.header_heading_container{
	position:absolute;
	font-family:raleway, sans-serif;
	width:50%;
	height:120px;
	color:white;
	bottom:100px;
	left:50%;
	transform:translateX(-50%);
	animation:scrollupHeaderHeading 1s ease-out forwards;
}

.header_heading_container h1{
	width:100%;
	padding-bottom:20px;
	font-size:4em;
	word-break:keep-all;
	font-weight:500;

}

.header_heading_container h3{
	font-weight:300;
	width:100%;
	padding-left:5px;
	font-size:2em;
		
}

.circle_image_container{
	display:none;
	border:5px solid blue;
	border-radius:50%;
	width:24vw;
	height:24vw;
	margin:auto;
	margin-bottom:40px;
	min-width:131px;
	min-height:131px;

}

.overlay{
	width:inherit;
	height:100vh;
	min-height:500px; 
	min-width:inherit;
	/*background-color:rgba(0,0,0,0.5);*/
	background-image:linear-gradient(to top, 
		rgba(0,0,0,0.5) ,
		rgba(0,0,0,0.5),
		rgba(0,0,0,0.5),
		rgba(0,0,0,0.9));
}


@keyframes scrollupHeaderHeading{
	0%{
      	transform:translateY(250px);
      	opacity:0.3;
	}
	100%{
		transform:translateY(0);
		opacity:1;
	}
}


/*Section*/
.section{
	width:100%;
	min-width:320px;
	background-color:#BFB8B7;
	margin:0;
	padding:5px 0px 5px 0px;
}

.myproject_section,
.keyskill_section,
.about_section,
.contact_section{
	background-color:var(--background-color);
	/*border:2px solid red;*/
	width:95%;
	padding:80px 0 20px 0;
	min-width:320px;
	margin:auto;
}

.myproject_section h1,
.keyskill_section h1,
.about_section h1,
.contact_section h1{
	color:var(--font-color);
	font-size:1.5em;
	text-align:center;
	font-family:"roboto", sans-serif;
	margin:20px auto 40px auto;
}

.myproject_section h1 span,
.keyskill_section h1 span,
.about_section h1 span,
.contact_section h1 span{
	border-bottom:2px solid var(--border-color); /*#1A0D65*/
}

/*Skill Section*/
.keyskillImgContainer{
	width:100%;
	margin:auto;
	padding-bottom:50px;
	display:flex;
	justify-content:center;
	 flex-wrap:wrap;
}

.keyskillImgContainer img{
	display: block;
	width:100px;
	height:100px;
	margin:10px;
}

/*Project Section*/
.myproject_section{
	padding-bottom:40px;
}

.myproject_list{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	overflow: hidden;
}

.myproject_list > div{
	position:relative;
	background-color:#B9CFEF;
	width:250px;
	height:300px;
	margin:50px;
	box-shadow:2px 2px 5px var(--font-color),
	-2px 2px 5px var(--font-color),
	2px -2px 5px var(--font-color),
	-2px -2px 5px var(--font-color);
	transition:all 0.5s;
	overflow: hidden;
}

.img_container{
	position: relative;
	width:100%;
	height:100%;
	transition:all 0.5s;
}

.img_overlay{
	width:100%;
	height:100%;
	transition:all 0.5s;
}

.myproject_list div:nth-child(1):hover > .img_container .img_overlay,
.myproject_list div:nth-child(2):hover > .img_container .img_overlay,
.myproject_list div:nth-child(3):hover > .img_container .img_overlay{
	background-color: rgba(0,0,0,0.5);
}

.myproject_list div:nth-child(1):hover > .img_container,
.myproject_list div:nth-child(2):hover > .img_container ,
.myproject_list div:nth-child(3):hover > .img_container {
	transform:scale(1.1);
} 

.img_caption{
	position: absolute;
	bottom:0;
	z-index:10;
	width:100%;
	height:30%;
	padding-top:50px;
	color:#fff;
	background-image: linear-gradient(to top, #000 40%,transparent 100%);
	transition:all 0.5s;
}

.myproject_list div:nth-child(1):hover > .img_caption,
.myproject_list div:nth-child(2):hover > .img_caption,
.myproject_list div:nth-child(3):hover > .img_caption{
	height:90%;
}

.myproject_list > div:nth-of-type(1) .img_container{
	background:#000 url("../images/music-player-mobile.jpg") top center/cover no-repeat;
}

.myproject_list > div:nth-of-type(2) .img_container{
	background:#000 url("../images/animated-template-mobile.jpg") top center/cover no-repeat;
}
.myproject_list > div:nth-of-type(3) .img_container{
	background:#000 url("../images/tic-tac-toe-mobile.jpg") center center/cover no-repeat;
}

.img_caption h3{
	padding:5px;
	font-family:'roboto', sans-serif;
	text-align: center;
}

.demo_btn,
.detail_btn{
	display: block;
	margin:20px auto 5px auto;
	padding:5px;
	width:100px;
	height:40px;
	border:2px solid #fff;
	background-color: transparent;
	color:#fff;
	text-align: center;
	line-height: 25px;
	text-decoration:none;
}

.demo_btn:hover,
.detail_btn:hover{
	background-color: rgba(255,255,255,0.2);
}

.myproject_btn{
	margin:20px auto;
}

.project_tools{
	margin-top:10px;
	text-align: center;
}

.project_tools img{
	width:35px;
	height:35px;
}

.project_tools img:nth-child(2){
	position:relative;
	top:3px;
	width:40px;
	height:40px;
}

.myproject_btn .btn{
	display:block;
	width:150px;
	height:50px;
	margin:20px auto;
	font-family:"roboto", sans-serif;
	font-size:1.5rem;
	color:var(--font-color-alt);
	border:0.5px solid var(--border-color);
	border-radius:5px;
	background-color: var(--border-color);
	text-decoration:none;
	text-align:center;
	line-height: 45px;
	cursor:pointer;
	box-shadow:0 3px 15px 2px var(--border-variant);
	user-select: none;
	outline:none;
}

.myproject_btn .btn:active{
	box-shadow:0 0 0 0 var(--border-variant);
}

.myproject_btn .btn:hover{
	color:var(--font-color);
	background-color: var(--background-variant);
}

/*About Section*/
.about_section{
	text-align:center;
}

.about-image{
	margin:20px auto;
	width:200px;
	height:200px;
	border-radius:50% 50%;
	overflow:hidden;
}

.about_section h2,
.about_section h3{
	font-family: 'Roboto', sans-serif;
}

.about_section h2{
	font-weight:500;
}

.about_section h3{
	font-weight:400;
	margin:5px 0;
}

.about-image img{
	position:relative;
	left:-25px;
	width:250px;
}

p{
	color:var(--font-color);
	word-wrap:break-word;
	font-size:2em;
}

.about_section p{
	font-size:1.3em;
	width:45%;
	margin:20px auto;
}


/*Contact Section*/
#contact_form{
	display:flex;
	flex-direction:column;
	align-items:center;
	min-height:400px;
	font-size:1.2em;
	font-weight:700;
	margin-top:50px;
	/*border:2px solid black;*/
	/*padding:40px;*/
}

label{
	width:50%;
	margin-bottom:10px;
	font-size:;
}

#name,
#email{
	width:50%;
	height:50px;
	font-size:1.4em;
	font-weight:500;
	margin-bottom:40px;
	padding-left:5px;
	border:1px solid rgba(0,0,0,0.2);
	background-color:#eee;
}

#message{
	width:50%;
	height:150px;
	font-size:1.7em;
	font-weight:500;
	padding-left:5px;
	resize:none;
	margin-bottom:40px;
	border:1px solid rgba(0,0,0,0.2);
	background-color:#eee;
}

#submit_btn{
	width:100px;
	height:50px;
	font-size:1em;
	font-weight:700;
	background-color:#fff;
	border:2px solid #000;
	margin-bottom:40px;
	cursor:pointer;
}

#submit_btn:hover{
	color:white;
	background-color:#888;
}

.popup_overlay{
	display: none;
	justify-content: center;
	align-items: center;
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	width:100%;
	height:100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
	z-index:10;
}

.form_contact_popup{
	width:400px;
	min-width:200px;
	height:200px;
	border-radius: 5px;
	background-color: var(--border-color);
}

.form_contact_popup h1{
	margin:50px 0 50px 0;
	color:var(--font-color-alt);
}

.form_contact_popup div{
	margin-top:20px;
	text-align: center;
}

.form_popup_ok_btn{
	padding:5px 20px;
	font-size:1.2rem;
	cursor:pointer;
}

/*Footer Section*/
.footer_section{
	position:relative;
	 min-height:40vh;
	 min-width:320px;
	 background-color:black;
	 color:white; 
	 text-align:center;
	 display:flex;
	 justify-content:space-around;
	 align-items:center;
	 flex-direction:column;
	 padding:50px 10px 80px 10px;

}

.social-media{
	 display:flex;
	 width:100%;
	 justify-content:space-around;
	 align-items:center;
	 flex-wrap:wrap;
	 margin:40px;
	 list-style-type:none;
	 min-width:320px;
	 max-width:1349px;
}

.social-media a{
	text-decoration:none;
	color:white;
}

.social-media li{
	width:150px;
	min-width:100px;
	flex-basis:1;
	flex-shrink:0;
	padding:10px;
}

.social-media li .fab{
	font-size:1.8em;
	padding-right:10px;
	color:#555;
}

.social-media li .social_media_text{
	font-size:1.2em;
}

.social-media li:hover span{
	color:#fff;
}

.copyright{
	position:absolute;
	bottom:0;
	width:100%;
	font-size:1.3em;
	max-width:1349px;
	font-family:"open sans", sans-serif;
}

@media screen and (max-width:784px){

	/*Header Section*/
	.nav_bar{
		height:50px;
	}

	.nav_list a,
	.nav_onscroll a{
		display:none;
	}
	
	.nav_list{
		height:94px;
	}
	.nav_list > .menu_icon{
		display:block;
	}

	.nav_onscroll > li{
		display:block;
	}

	/*Light to Dark Toggle Switch*/
	.theme-switch-wrapper span{
		margin-right:0;
	}

	.theme-switch{
		top:15px;
	}

	.mobile_nav_overlay{
		display:block;
	}

	.header_img{
		background-color:black;
		background: url('../images/darksky.jpg') 80% 80%/cover no-repeat;
	}

	.header_heading_container{
		bottom:250px;
		left:0;
		width:100%;
		padding-left:10px;
	}

	.header_heading_container h1,
	.header_heading_container h3{
		text-align:center;
		
	}
	.header_heading_container h1{
		font-size:2em;
	}
	.header_heading_container h3{
		font-size:1em;
	}

	.circle_image_container{
		display:block;
	}

	.circle_image_container img{
		width:50px;
		height:50px;
	}

	/*Skill Section*/

	.keyskill_section,
	.myproject_section,
	.about_section,
	.contact_section{
		width:100%;

	}

	.myproject_list div:nth-child(1),
	.myproject_list div:nth-child(2),
	.myproject_list div:nth-child(3){
		transition-delay:0s;
	}

	/*About Section*/
	.about_section p{
		font-size:1.3em;
		width:70%;
	}

	/*Contact Section*/
	label,
	#name,
	#email,
	#message{
		width:70%;
	}

	.form_contact_popup{
		width:90%;
	}

	/*Footer Section*/
	.social-media{
		width:80%;
		margin:auto;
		padding-left:0;
	}

	.social-media li{
		min-width:100%;
		text-align:left;
		font-size:1.2em;
		text-align:center;
		width:initial;
	}

	.social-media li .social_media_text{
		display:none;
	}

	.copyright{
		font-size:1em;
	}

}
